# Movie Review Project

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../TextFiles/moviereviews.tsv", sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
len(df)

2000

In [16]:
print(df['review'][0:2])

0    how do films like mouse hunt get into theatres...
1    some talented actresses are blessed with a dem...
Name: review, dtype: object

# Check for:
# 1) missing data
# 2) empty strings

In [17]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [18]:
# Remove NaN values

#inplace=True = permanently remove NaN

df.dropna(inplace=True)

In [19]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [21]:
mystring = 'hello'
empty = ' '
mystring.isspace()

False

In [22]:
#There will still be empty string ' ' reviews. 
#We have to remove empty strings as well.

#Start with an empty list
#Iterate over dataframe
#Check review for white spaces
#Check the review's length

blanks = []

for i, label, review in df.itertuples():
    if review.isspace() == True:
        blanks.append(i)
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [23]:
#These are all the index positions of blank '  ' reviews. 
#Remove these:

df.drop(blanks, inplace=True)

In [24]:
len(df)

1938

# Split data into training and test sets

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X = df['review']
y = df['label']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

# Build a pipeline to train_test_split, and fit model

In [27]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [28]:
#Vectorize and fit model in 1 step with this instance:

text_clf = Pipeline([('tfidf',TfidfVectorizer()),
                     ('clf',LinearSVC())])

In [29]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
 ...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [30]:
predictions = text_clf.predict(X_test)

In [33]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [38]:
print(confusion_matrix(y_test,predictions))
cmdf = pd.DataFrame(confusion_matrix(y_test,predictions),index=['pos','neg'],columns=['pos','neg'])
cmdf

[[235  47]
 [ 41 259]]

     pos  neg
pos  235   47
neg   41  259

In [39]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

        neg       0.85      0.83      0.84       282
        pos       0.85      0.86      0.85       300

avg / total       0.85      0.85      0.85       582

In [40]:
print(accuracy_score(y_test,predictions))

0.8487972508591065